Task:
{{ task }}

Given the task description, identify what the action is. It can be one of the following: CREATE_FILE, MODIFY_FILE, DELETE_FILE, RUN_COMMAND.
If the action is RUN_COMMAND, then the command field will be populated with the command to run.
If the action is CREATE_FILE, MODIFY_FILE, or DELETE_FILE, then the filepath field will be populated with the path to the file to create, modify, or delete.