Project Description:
{{ project_description }}

Completed Tasks:
{{ completed_tasks }}

Contents of the relevant files:
{{ contents }}

Given the project description, completed tasks, and the contents of the relevant files, please provide the most reasonable next task that can be implemented to achieve the goals set in the project description:
Include the following fields in your YAML object: title, description, action (CREATE_FILE, MODIFY_FILE, DELETE_FILE, RUN_COMMAND), command (if action is RUN_COMMAND), filepath

Next task:

```yaml