Project Description:
{{ project_description }}

Related file contents:
{{ contents }}

Original file contents:
{{ file_contents }}

Current task:
{{ task }}

Please ONLY modify the code for just this one file: '{{ filepath }}':
```