Here is the project description:
{{ project_description }}

Here are the current files in the project:
{{ file_tree }}

{% if current_step -%}
Current step:
{{ current_step }}
{% endif %}

Keep in mind that we have a context window of 7500 tokens. Be very careful not to exceed this limit.
List at most the top 5 files that I should read to figure out what to do next. Do not include reasoning or annotations.
